<form 	id="componentPropertiesForm"
		ng-submit="sel.save();">
	<fieldset id="compFormFieldset" class="compFormFieldset">
	  			<label class='compFormLabel' ng-show="sel.component.componentType == 'dataset'">
	  				URI</br>
	  				<input class='compFormInput' ng-model="sel.component.URI" type='text' size = '35'/></br>
	  			</label>
	  			<label class='compFormLabel'>
	  				Name 
	  				<input 	class='compFormInput'
	  						ng-model="sel.component.name"
	  						type='text' size = '35' /></br></br>
	  			</label> 
	  			<label class='compFormLabel' ng-show="sel.component.allowsQuery()">
	  				Query</br>
	  				<textarea name='Query'
	  						ng-model="sel.component.query"
	  						id='compQuery'
	  						class='compFormInput compFormTextarea'></textarea></br></br>
	  			</label>
	  			<!-- Input Table -->
	  			<div id="inputs" ng-show="sel.component.allowsMultipleInputs()">
	  				<table id="tableInput">
	  					<thead>
	  						<tr>
	  							<th class="inputsTableLabel">Name</th>
	  							<th class="inputsTableLabel">ID</th>
	  							<th class="inputsTableLabel">Shape</th>
	  							<th class="inputsTableLabel">Color</th>
	  						</tr>
	  					</thead>
	  					<tbody>
	  						<tr ng-repeat="input in sel.inputs">
	  							<td>
	  								<input 	type="text"
	  										ng-model="input.name"
	  										class="compFormInputsTableCell"/>
	  							</td>
	  							<td>{{"#" + input.identifier}}</td>
	  							<td>
	  								<select ng-model="input.shape" class="compFormInputsTableCell">
	  									<option value="Dot">Dot</option>
	  									<option value="Rectangle">Rectangle</option>
	  								</select>
	  							</td>
	  							<td>
	  								<select ng-model="input.color" class="compFormInputsTableCell">
	  									<option value="Red">Red</option>
	  									<option value="Yellow">Yellow</option>
	  									<option value="Blue">Blue</option>
	  									<option value="Black">Black</option>
	  									<option value="Green">Green</option>
	  								</select>
	  							</td>
	  							<td>
	  								<button ng-click="sel.deleteInput(input);">x</button>
	  							</td>
	  						</tr>
	  					</tbody>
	  				</table>
	  				<button ng-click="sel.addInput();">Add Input</button> </br> </br>
	  			</div>
	  			<button type='submit' name='submit'>Save</button>
	  			<button type='reset' name='reset' ng-click="sel.close();">Cancel</button>
	</fieldset>
</form>
